@model ReserveViewModel

@{
    ViewData["Title"] = "Tijd kiezen";
}

<div class="well">
    <div class="col-xs-12"><h2>Vergelijk sporthallen</h2><br /></div>
    <div class="panel-body">
        <form class="p-a-1" asp-action="ReserveTimePick" asp-controller="Reserve">

            <input name="SportHallID" value=@Model.SporthallID type="hidden">

            <input name="Date" value=@Model.Date type="hidden">

            <div class="form-group">
                <label>Tijd:</label>
                <select name="TimeL" class="form-control">
                    <option value="">Kies een tijd</option>

                    @{
                        foreach (var x in Model.TimeList)
                        {
                            if (x == Model.TimeL)
                            {
                                <option selected value="@x">@x Uur</option>
                            }

                            else
                            {
                                <option value="@x">@x Uur</option>
                            }
                        }
                    }

                </select>
            </div>
            <p><button class="btn btn-default" type="submit"> Bereken tijd</button></p>

        </form>

        @{
            if (Model.TimeL != 0)
            {
                if (ViewBag.error != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.error
                    </div>
                }

                <form class="p-a-1" asp-action="ReserveStatus" asp-controller="Reserve">
                    <div class="form-group">
                        <label>Lengte Tijd:</label>
                        <select name="Tijdsduur" class="form-control">
                            <option value="">Kies de lengte</option>
                            @foreach (var x in Model.TimeSpanList)
                            {
                                if (x == Model.Tijdsduur)
                                {
                                    <option selected value="@x">@x  uur</option>
                                }
                                else
                                {
                                    <option value="@x">@x  uur</option>
                                }

                            }
                        </select>

                        <input type="hidden" name="Beginstijd" value="@Model.TimeL" />

                        <input type="hidden" name="SportHallID" value="@Model.SporthallID" />

                        <input type="hidden" name="Date" value="@Model.Date" />

                    </div>

                    <div class="form-group">
                        <label asp-for="Reserve.FirstName">Voornaam:</label>
                        <input value=@Model.Reserve.FirstName class="form-control" asp-for="Reserve.FirstName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Reserve.LastName">Achternaam:</label>
                        <input value=@Model.Reserve.LastName class="form-control" asp-for="Reserve.LastName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Reserve.Email">Email:</label>
                        <input value=@Model.Reserve.Email class="form-control" asp-for="Reserve.Email" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Reserve.PhoneNumber">Telefoon:</label>
                        <input value=@Model.Reserve.PhoneNumber class="form-control" asp-for="Reserve.PhoneNumber" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">
                            Huren
                        </button>
                    </div>

                </form>
            }
        }

        <div id="List">
            @foreach (var p in Model.ReserveList)
            {
                @Html.Partial("ReservationSummary", p)
            }
        </div>
    </div>
</div>
