@model ReserveViewModel

@{
    ViewData["Title"] = "Status";
}


<div class="well">
        <h1>Uw reservering</h1>

        <p>Bedankt voor het huren via sporthalhuren.nl!</p>

        <p>Locatie: @Model.Reserve.SportsHall.SportsBuilding.City</p>
        <p>Addres: @Model.Reserve.SportsHall.SportsBuilding.Street @Model.Reserve.SportsHall.SportsBuilding.HouseNumber</p>
        <p>Prijs: €@Model.Reserve.SportsHall.Price</p>
        <p>Datum: @Model.Reserve.Datum.ToString("dd-MM-yyyy")</p>
        <p>Tijd: @Model.Reserve.StartTime.ToString("HH:mm") - @Model.Reserve.EndTime.ToString("HH:mm")</p>
</div>
