@model SporthalC3.Models.SportsHall

@{
    ViewData["Title"] = "Huren";
}

<div class="well">
    <div class="panel-body">
        <h1>@Model.SportsBuilding.Name</h1>
    </div>


    <p>
        Sporten:
        @{
            foreach (var i in Model.SportsHallSports)
            {
                @i.Sport.Name
                if (i != Model.SportsHallSports.LastOrDefault())
                {
                    @:,
                }
            }
        }
    </p>
    <p>Douche: @Model.NumberOfShowers</p>
    <p>Kleedruimte: @Model.NumberOfDressingSpace</p>
    <p>
        Kantine: @{
            if (Model.SportsBuilding.Canteen)
            {
                <span>Ja</span>
            }
            else
            {
                <span>Nee</span>
            }
        }
    </p>
    <p>Openingstijd: @Model.OpenTime.ToString("HH:mm")</p>
    <p>Sluitingstijd: @Model.CloseTime.ToString("HH:mm")</p>
    <p>Locatie: @Model.SportsBuilding.City</p>
    <p>Addres: @Model.SportsBuilding.Street @Model.SportsBuilding.HouseNumber</p>
    <p>Verhuurder: @Model.SportsBuilding.SportsBuildingAdministrator.FirstName @Model.SportsBuilding.SportsBuildingAdministrator.LastName</p>
    <p>Lengte zaal: @Model.Length meter</p>
    <p>Breedte zaal: @Model.Width meter</p>
    <p>Prijs: €@Model.Price</p>

    <form class="p-a-1" asp-controller="Reserve" asp-action="ReserveDatePick">

        <input type="hidden" name="SportHallID" value=@Model.SportsHallID />

        <div class="text-center">
            <button class="btn btn-primary" type="submit">
                Huren
            </button>
        </div>
    </form>
</div>
